<!DOCTYPE html>
<html>
<head>
    <title>Book a Service</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/book_service.css' %}">

</head>
<body>
    <div class="container">
        <h2>Book a Service</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Book Now</button>
        </form>

        <div class="links">
            {% if request.user.is_staff %}
                <p><a href="{% url 'adminDashBoard' %}">← Back to Admin Dashboard</a></p>
            {% else %}
                <p><a href="{% url 'customerDashboard' %}">← Back to Customer Dashboard</a></p>
            {% endif %}
        </div>
    </div>
</body>
</html>
